<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('build/css/base.css') }} "/>
        <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row-menu">
                <div class="logo">
                    <img src="{{ asset('png/logo.png') }}">
                </div>
                <ul class="nav-menu">
                    <li class="activ"><a href="{{ path('hospital') }}">Home</a></li>
                    <li><a href="{{ path('login') }}">Login</a></li>
                    <li><a href="{{ path('register_pacjent') }}">Rejestracja pacjent</a></li>
                    <li><a href="{{ path('register_pracownik') }}">Rejestracja lekarzt</a></li>
                    <li><a href="">News</a></li>
                    <li><a href="">About</a></li>
                </ul>
            </div>
            {% block body %}{% endblock %}
        </div>
    </body>
    {% block javascripts %}{% endblock %}
</html>
